.blackOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  z-index: 10;
}
.modalPhotoGallery {
  width: 620px;
  height: 680px;  
  background-color: #fff;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2); 
  border-radius: 10px;
  //display:block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleGaleriePhoto {
  font-size: 2em;
  text-align: center;
}
.lineModal {
  width: 460px;
  height: 1px;
  background-color: #B3B3B3;
  align-items: center;
  position: absolute;
  left: 80px;
  bottom: 100px;
}
.buttonAddPhoto {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
}
.photoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px 18px;
  margin: 0 80px;
  width: 460px;
  height: 400px;
  /*
  background: red;
  */
}
.thumbnail {
  width: 77px;
  height: 103px;
  /*
  backgroundColor: blue;
  opacity: 0.5;
  */
}
.thumbnail img {
  opacity: 0.5;
}
.thumbnailContainer {
  position: relative;
  /*
  background: aqua;
  */
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-Size: 1.5em;
  cursor: pointer;
}
.arrowLeft {
  position: absolute;
  top: 15px;
  left: 15px;
  background: none;
  border: none;
  font-Size: 1.5em;
  cursor: pointer;
}
.trashButton {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 17px;
  height: 18px;
  background: black;
  color: white;
  border: none;
  border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  margin:0;
}

.trashCan {
  position: absolute;
  font-size: 0.8em;
  top: 4px;
  left:4px;
}

.blueFrame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 465px;
  left: 80px;
  height: 190px;
  top: 120px;
  background-color: rgb(232, 241, 246);
  border: none;
  font-Size: 1.2em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.faImage {
  position: absolute;
  top: 20px; left: 190px;
  width: 83px;
  height: 75px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.buttonBlueFrame{
  position: absolute;
  top: 20px; left: 190px;
  background-color: rgb(203,214, 220);
  color: rgb(54,106,137);
  border:none
}
.textBlueFrame{
  position: absolute;
  top: 160px; left: 190px;
  font-size: 0.5em;
}
.filterButtonsNotValid {
  background-color: rgb(160, 161, 163);
  /*background-color: #1D6154;*/
  color: rgb(225, 236, 241);
  border:none;  
  width: 220px;
}
.filterButtonsValid {
  /*background-color: rgb(160, 161, 163);*/
  background-color: #1D6154;
  color: rgb(225, 236, 241);
  border:none;  
  width: 220px;
}
.dropDown {
  position: absolute;
  height: 50px;
  left: 80px;
  width: 465px;
  text-align: left;
  border: none;
}

.FormTitre {
  font-size: 1em;
  top: 335px;
}
.formForm {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  font-size: 1.2em;
  top: 365px;
}
.dropDownTextCategories {
  font-size: 1em;
  top: 450px;
}
.dropDownListCategories {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  font-size: 1.2em;
  top: 480px;
}

.fileInputInput {
  position: absolute;
  left: 140px;
  top: 105px;
  width: 190px;
  height: 50px;
  cursor: pointer;
  background-color: rgb(185,197,204);
  opacity: 0;
  z-index: 1;
}
.fileInputButton{
  position: absolute;
  font-size: 1em;
  left: 145px;
  top: 110px;
  width: 180px;
  height: 40px;
  border: none;
  border-radius: 25px;
  color: rgb(7, 59, 80);
  background-color: rgb(185,197,204);
  cursor: pointer;
}
